<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>generalmodule</name>
    <displayName><![CDATA[General Module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[The basic module is used to learn how to configure settings, show information on front-end and how to add extra fields in back-office list views.]]></description>
    <author><![CDATA[Roman Makejev]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>